<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuanshenbin.developMode">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>


        <activity
            android:name=".LogDetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/develop_mode_AppTheme" />

        <activity
            android:name=".LogListActivity"
            android:launchMode="singleTask"
            android:theme="@style/develop_mode_AppTheme" />

        <activity
            android:name=".DevelopModeActivity"
            android:launchMode="singleTask"
            android:theme="@style/develop_mode_AppTheme" />

        <activity
            android:name=".SystemApiActivity"
            android:launchMode="singleTask"
            android:theme="@style/develop_mode_AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <provider
            android:name="com.yuanshenbin.developMode.FileProvider"
            android:authorities="${applicationId}.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/develop_mode_filepaths" />
        </provider>
    </application>
</manifest>

